
@{
    ViewBag.Title = "Test";
}

<div class="text-center">
    <h2>Harika bir doğum günü partisi olucak!</h2>
    <h3>Sende davetlisin</h3>
    @Html.ActionLink("Geliyor musun?", "InvitationPage", null, new { @class = "btn btn-info" })
</div>

